.contact {
  padding: 0;
  .inner {
    width: 100%;
    // 가게 운영시간 및 설명
    .location {
      width: 1180px;
      margin: 0 auto;
      margin-bottom: 120px;
      h2 {
        text-align: center;
      }
      .pic {
        width: 800px; height: 460px;
        border-radius: 50% 50% 0 0;
        overflow: hidden;
        margin: 0 auto;
        img {
          width: 100%; height: 100%;
        }
      }
      .guide {
        width: 100%;
        margin: 50px 0 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        .guide-detail {
          width: 40%;
          border-right: 1px solid #000;
          padding-left: 5%;
          padding-right: 5%;
          h3 {
            font: normal 30px/1 "Cormorant Garamond", serif;
            margin-bottom: 20px;
            &:nth-of-type(2) {
              margin-top: 50px;
            }
          }
          p {
            font-family: "Raleway", sans-serif;
          }
        }
        .guide-contact {
          width: 40%;
          padding-left: 5%;
          padding-right: 5%;
          h3 {
            font: normal 30px/1 "Cormorant Garamond", serif;
            margin-bottom: 20px;
          }
          p {
            font-family: "Raleway", sans-serif;
            margin: 30px 0;
            &:nth-of-type(2) {
              font-weight: 600;
              margin-top: 40px;
            }
            &:nth-of-type(3) {
              font-weight: 600;
            }
          }
          .icons {
            img {
              margin: 0 10px;
            }
          }
        }
      }
    }
    
    // kakao map section
    // 위치, 지도 영역
    .kakao-map {
      width: 100%; height: 350px;
      #map {
        width: 100%; height: 100%;
      }
      // 카카오 지도 zoom 가능 버튼
      // .map-zoomable {
      //   width: 240px; height: 100px;
      //   margin-left: 20px;
      //   button {
      //     margin-top: 10px;
      //     padding: 4px;
      //     background: #eee;
      //     border: 1px solid #333;
      //     border-radius: 6px;
      //   }
      // }
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
    // form section
    .question-form {
      font-family: "Raleway", sans-serif;
      width: 100%;
      display: flex;
      justify-content: center;
      background: #eee;
      padding: 80px 0 50px;
      .form-inner {
        text-align: center;
        padding: 80px;
        h2 {
          font-size: 28px;
          font-weight: 600;
        }
        p {
          margin: 20px 0;
        }
        form {
          margin-top: 20px;
          input[type="text"] {
            width: 100%; height: 36px;
            padding-left: 10px;
            font-family: "Raleway", sans-serif;
          }
          textarea {
            width: 100%;
            padding: 10px 0 0 10px;
            resize: none;
            font-family: "Raleway", sans-serif;
          }
          #checkbox-wrap {
            position: relative;
            display: flex;
            #opt-apply {
              font-size: 12px;
              flex: 0.95;
              padding-left: 10px;
              color: #aaa;
            }
            #check {
              width: 14px; height: 14px;
              flex: 0.05;
              accent-color: #064420;
            }
          }
          #btn-submit {
            width: 60px; height: 30px;
            background: #fff;
            border: 2px solid #064420;
            border-radius: 6px;
            color: #064420;
            font-weight: bold;
            font-family: "Raleway", sans-serif;
            cursor: pointer;
            &:hover {
              background: #064420;
              color: #fff;
            }
          }
        }
      }
    }
  }
}


/* 반응형 */
/* tablet 구간 */
@media screen and (max-width: 1179px) {
  .contact {
    .inner {
      padding: 0;
      .location {
        width: 100%;
        .pic {
          width: 90%; height: 100%;
        }
        .guide {
          .guide-detail {
            width: 100%;
            border-right: none;
          }
          .guide-contact {
            h3 {
              margin-top: 50px;
            }
            width: 100%;
          }
        }
      }
    }
  }
}