
/* 반응형 */
/* tablet 구간 */

@media screen and (max-width: 1179px) {
  /* header */
  #header_sub {
    .inner {
      width: 100%; height: 100px;
      h1 {
        left: 20px;
      }
      .menuWeb {
        display: none;
      }
      .btnCall {
        display: block;
      }
    }
  }

  .content {
    padding: 0 0 100px;

    .sub_vidual {
      height: 200px;
      margin-bottom: 80px;
    }
    .inner {
      width: 100%;
      min-height: 400px;
      padding: 0 30px;
    }
  }

  /* footer */

  #footer_sub {
    padding: 80px 30px;
    .inner {
      width: 100%;
    }
  }

}


/* mobile 구간 */
@media screen and (max-width:539px) {
  /* header */

  .content {
    padding: 0 0 80px;

    .sub_vidual {
      height: 150px;
    }
    .inner {
      min-height: 300px;
      h1 {
        font-size: 40px;
        span {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }


  /* footer */
  #footer_sub {
    .inner {
      h1 {
        margin-bottom: 20px;
      }
      ul {
        width: 100%;
        li {
          margin-left: 0;
          margin: 5px;
        }
      }
    }
  }
}